# Python
__pycache__/
*.pyc
.venv/
env/

# Node
node_modules/
npm-debug.log

# React build
build/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.tar

# Env
.env

sql file/